*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-size: 20px;
	overflow-x: hidden;
	color: white;
	font-family: 'Flamenco', cursive;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}


header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/gal-img-05.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.row{
	max-width: 1180px;
	margin: 0 auto;
}

/*.main{
	float: right;
	margin-top: 60px;
	font-weight:bold;
	color: white;
}*/

.leftmenu{
	float: left;
	margin-left: 0px;
	margin-top: 40px;
	font-family: 'Flamenco', cursive;
}
.main{
	width: 180%;
	height: 90px;
	margin: 0px auto;
}
/*.main ul{
	padding: 40px;
}*/
.navmenu{
	padding: 40px;
}

.main ul li{
	float: left;
	color: white;
	width: 150px;
	list-style: none;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	/*background-color: red;*/
	
}
.main ul li a{
	color:white;
	text-decoration: none;
	font-size: 90%;
	font-weight:bold;
}
.main ul li ul{
	display: none;
}

.main ul li:hover > ul{
	display: block;
}

.main ul li:hover{
	color: orange;
}
/*.main {
	padding: 0px;
	color: white;
}

.main ul li{
	float: left;
	color: white;
	width: 120px;


}
.main li{
	display:inline-block;
	list-style: none;
	margin-left: 20px;
	color: white;
	padding: 0px; 
	width: 100px;
}

}
.main li a{
	padding: 5px 0;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	font-weight:100;
}*/

.main li a:hover{
	/*border-bottom: 3px solid purple;*/
	color:orange;
}

.main-content-header{
	width: 1180px;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,  -50%);

}

h1{
	color: white;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 2px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-weight: lighter;
}

.btn{
	display: inline-block;
	padding: 10px  30px;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 200px;
	transition: background-color 0.2s,border 0.2s,color 0.2s;
	border: 1px solid white;
	background-color: transparent;
	color: white;

}

.btn:hover{
	background-color: orange;
}

.colorchange{
	animation: changecolor 2s infinite;

}

@keyframes changecolor{
	0%{color: red;}
	25%{color: purple;}
	50%{color: white;}
	100%{color: purple;}
}
